.container {
    /*width: 300px;*/
    border: 1px solid black;
    padding: 50px;
    margin: 20px;
    background-color: white;
    display:grid;
    grid-template-columns:auto auto auto;
}

.container{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.container img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
}